name: Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch: {}

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4.1.7

      - name: markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v17.0.0
        with:
          globs: |
            *.md
          config: .markdownlint.yaml

      - name: yamllint
        uses: ibiqlik/action-yamllint@v3.1.1
        with:
          file_or_dir: |
            .github/**/*.yaml
            .*.yaml
          strict: true
          config_file: .yamllint.yaml

      - name: actionlint
        uses: reviewdog/action-actionlint@v1.55.0
